
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css" />

<div id="sidebar">
    <ul>
        <!-- <li>
        	<div id="search" >
        		<input type="text" id="query" name="query" />
        		<input type="submit" id="query" name="query" />
        	</div>
            <div style="clear: both;">&nbsp;</div>
        </li> -->
        <li>
          	<h2><%= link_to "Categories",categories_path %></h2>
                <ul>  
            	<% Category.all.each do|category| %>
              	<li><%= link_to category.name,category %></li>
            	<% end %>
         	    </ul>
        </li>
        <li>
        	<h2><%= link_to "Blogroll", posts_path %></h2>
            	<ul>
            	<% Post.last(10).each do |post| %>
            	<li><%= link_to post.title,post %></li>
            	<% end %>
            	</ul>
            <h2><%= link_to "Bloggers", admin_users_path %></h2>
                <ul>
                <% AdminUser.all.each do |user| %>
                <li><%= link_to user.name,user %></li>
                <% end %>
                </ul>
        </li>                
        </li>
    </ul>
</div>
