<div class ="blog-header"><%= @user.name %></div>
<br>
<% if @posts.each do |post| %>
<div class ="post">
<span><h3 color="#ff7a3e"><%= link_to post.category.name,post.category %> / <%= link_to post.title,post %> </h3></span>
<h4><%= raw post.byline %></h4>
    <div class="entry"><%=raw post.body.truncate(300) %></div>
    <div class = "read_more"><%=h link_to "Read more",post %></div>
	<div class="byline">
              <small><%= post.created_at.strftime("%A, %d %B @ %-l:%M%P") %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= post.admin_user.name %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= post.post_comments.count %> comments</small>

    </div>
</div>

<% end.empty? %>

	<p>Sorry, there are no posts in this category</p>
	<p><%= link_to "Back",admin_users_path %></p>

<% end %>
