
<div class = "blog-header"><h1><%= link_to @post.category.name, category_path(@post.category) %> / <%= @post.title %></h1></div>
<br>
<div class = "post">
<p><small>Blogged <%= @post.created_at.strftime("%A, %d %B @ %-l:%M%P") %>, by <%= @post.admin_user.name %></small></p>
<p><%=raw @post.byline %></p>
<p><%=raw @post.body %></p>
<hr>


<p>Category: <%= link_to @post.category.name, category_path(:id => @post.category.id) %>  |  <%= link_to "Back",posts_path %></p>


<hr>

<%= form_for @post_comment do |f| %>
<%= f.hidden_field :post_id %>
<p>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :email %><br />
	<%= f.text_field :email %>
</p>
<p>
	<%= f.label :body %><br />
	<%= f.text_area :body %>
</p>
<br>
<p>
	<%= f.submit "Post Comment" %>
</p>
<% end %>

<%= render :partial => "/partials/post_comment", :collection => @post.post_comments %>
</div>