<div class ="blog-header"><h1><%= @category.name %></h1></div>
<br>
<% if @posts.each do |post| %>
<div class ="post">
<h3><%= link_to post.title,post %> </h3>
    <div class="entry"><%=h truncate(post.body, :length => 300) %></div>
    <div class = "read_more"><%=h link_to "Read more",post %></div>
	<div class="byline">
              <small><%= post.created_at.strftime("%A, %d %B @ %-l:%M%P") %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= post.admin_user.name %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= post.post_comments.count %> comments</small>

    </div>
</div>

<% end.empty? %>

	<p>Sorry, there are no posts in this category</p>
	<p><%= link_to "Back", categories_path %></p>

<% end %>


