<h1><%= @category.name %></h1>
<br>
<% if @posts.each do |post| %>
<div class ="post">
<h3><%= link_to post.title,post %> </h3>
    <div class="entry"><%= post.body %></div>
	<div class="byline">
              <small><%= post.created_at.strftime("%b %d. %y") %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Someone</a></small>

    </div>
</div>

<% end.empty? %>

	<p>Sorry, there are no posts in this category</p>
	<p><%= link_to "Back", categories_path %></p>

<% end %>


